---
import { actions } from "astro:actions";
import PlaceCard from "../components/PlaceCard.astro";
import Layout from "../layouts/Layout.astro";

const { data, error } = await Astro.callAction(actions.getPlaces, "");
---

<Layout>
	<h1>Lugares</h1>

	<div class="grid grid-cols-3 align-content-center gap-4 mx-auto">
		{data && data.map((place) => <PlaceCard place={place} />)}
	</div>
</Layout>
